<nav class="shadow-sm navbar navbar-expand-lg navbar-expand-md navbar-expand-sm navbar-dark bg-dark border-bottom">
  <div class="container sh">
    <a class="navbar-brand" href="/">
      <img class="img-responsive" src="lang-logo.png" alt="Logo NodeJS" width="80">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuNavbar" aria-controls="menuNavbar" aria-expanded="false" aria-label="Menu de navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="menuNavbar">
      <ul class="nav navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Início <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/felipefa/node-api-template.git">Ver Template</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

