<!DOCTYPE html>
<html>

<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="container">
    <div class="card-deck my-4">
      <div class="card shadow-sm">
        <div class="card-body">
          <h5 class="card-title">Node API Template</h5>
          <p class="card-text">Template para o desenvolvimento de uma API em Node.js usando Body-Parser, EJS, Express 4 e MongoDB (Mongoose).</p>
        </div>
        <div class="card-footer bg-transparent border-0 text-right">
          <a href="https://github.com/felipefa/node-api-template.git"><span class="btn btn-primary">Ver Template</span></a>
        </div>
      </div>
    </div>
  </div>

</body>

</html>